/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
  /* background-color: #23252b;
  color: #eee; */
 
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--header-menu-color: #23252b;

}


/* Font styling */

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Italic.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Hairline.otf');
    font-weight: 100;
    font-style: normal;
}



img {
    max-width:100%;
}

/* header nav */

header nav:nth-of-type(1) ul {
    margin: 0;
    padding: 0 1em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

header > nav:nth-of-type(2) {
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    padding: 1em;
    align-content: start;
    gap: 1em;
  

    position: fixed;
    left: 0;
    right: 0;
    top: 4em;
    bottom: 0;
    background-color: var(--header-menu-color);

    translate: -100%;
    transition:1s;
}

header > nav ul {
    display: grid;
    padding: 0;
    list-style: none;
    padding: 1em;
    align-content: start;
    gap: 1em;
}

nav:nth-of-type(1) button {
    border: none;
    background-color: transparent;
}

nav:nth-of-type(2) button {
    background-color: #ff640a;
    border: none;
    color: #eee;
    padding: 1em 2em;
    border-radius: .5em;
    justify-self: start;
    font-weight: 700;
    font-size: .85em;
}

header > nav.toonMenu {
    translate: 0;
}




  /* FOOTER */

  footer {
    color: #000000;
    padding: 1em;
    text-align: left;
    font-family: Arial, sans-serif;
}

footer section {
  display: flex;
}

footer h3, footer h4 {
    color: #000;
    font-size: 1.2em;
    margin-bottom: .5em;
    display: block;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin: .2 0;
}

footer ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 0.9em;
}

footer ul li a:hover {
    color: #ff8000; 
}

footer ul li a img {
    vertical-align: middle;
    margin-right: .4emx;
    height: 1em; 
}

footer p {
    font-size: 0.8em;
    color: #ccc;
}

footer section:last-of-type h4 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: .3em;
}

footer section:last-of-type p {
    font-size: 0.9em;
    color: #ff8000; 
}



footer section:nth-of-type(2) ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer section:nth-of-type(2) ul li {
  margin-bottom: .5em;
}

footer section:nth-of-type(2) ul li a {
  display: flex;
  align-items: center;
}

footer section:nth-of-type(2) ul li a img {
  margin-right: .5em;
  height: 1.5em; 
}
