/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
    padding: 0;
  }
  

  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
      --color-text:#111;
      --color-background:#eee;
      --header-menu-color: #23252b;
      --h3-size: .8em;
      --h3-weight: 400;
      --h2-size:1.3em;
      --h2-weight: 700;
  
  }
  
  
  /* Font styling */
  
  @font-face {
      font-family: 'Lato';
      src: url('../font/Lato-Light.otf');
      font-weight: 300;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'Lato';
      src: url('../font/Lato-Regular.otf');
      font-weight: 400;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'Lato';
      src: url('../font/Lato-Bold.otf');
      font-weight: 700;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'Lato';
      src: url('../font/Lato-Italic.otf');
      font-weight: 400;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'Lato';
      src: url('../font/Lato-Hairline.otf');
      font-weight: 100;
      font-style: normal;
  }


  body {
    font-family: 'lato-regular';
  }



  /* STYLEN CAROUSEL */
  main > section:nth-of-type(1) ul {
    display: flex;
    overflow: hidden;
    padding: 0;
  }

  main > section:nth-of-type(1) p {
    color: #eee;
    text-shadow: .1em .1em #23252b;

    /* bron text-shadow: https://www.w3schools.com/cssref/tryit.php?filename=trycss3_text-shadow */
  }


  main > section:nth-of-type(1) > ul > li {
    height: 50vh;
    background-size: cover;
    background-position: 85% center;
  
    display: grid;
    justify-content: center;
    align-content: end;
    justify-items: center;
    text-align: center;
    padding: 1em;
    min-width: 100vw;
    flex-shrink: 0;
    scroll-behavior:smooth;
  }

    main > section:nth-of-type(1) > ul > li:nth-of-type(1) {
    background-image: url('../images/carousel/onepiece.png');
  }


  main > section:nth-of-type(1) > ul > li:nth-of-type(2) {
    background-image: url('../images/carousel/tasuketsu.png');
  }


  main > section:nth-of-type(1) > ul > li:nth-of-type(3) {
    background-image: url('../images/carousel/wistoria.png');
  }


  /* STYLEN BUTTON CAROUSEL STRAT WATCHING  */

  main > section:nth-of-type(1) > ul:nth-of-type(1) li a {
    background-color: #f05032;
    color: #fff;
    border: none;
    padding: 1em 5em;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .8em;

  }



  main > section:nth-of-type(1) > ul:nth-of-type(1) li a:hover {
    background-color: #c93920;
    transition: transform 0.3s ease;
  }

/* STYLEN NAV KNOPJES CAROUSEL */

main > section:nth-of-type(1) nav{
list-style-type: none;
background-color: #ffffff80;

}


main > section:nth-of-type(1) nav ul{
  /* margin:0;
	padding:0;
	list-style-type:none; */
	
	/* display:flex; */
	overflow:hidden;
	scroll-behavior:smooth;


  margin:0;
	padding:0;
	list-style-type:none;
	
	display:flex;
	gap:1em;
  justify-content: center;
  padding-top: .5em;

}

main > section:nth-of-type(1) > ul li{
scroll-margin-top: 10em;
width:100%;
flex-shrink:0;
}

/* scroll-margin-top werkt niet, heb het op verschillende tags geprobeerd maar werkt niet */

main > section:nth-of-type(1) nav ul li a{
display:block;
height:1em;
aspect-ratio:3/0.5;
background-color:rgb(65, 65, 65);
border-radius:.5em;
}


/* RESPONSIVE MAKEN CAROUSEL */










  /* STYLEN SLIDES MOST POPULAR */

  /* section:nth-of-type(2) > ul {
    display: grid;
    grid-auto-flow: column;
    margin: 1em;
    padding: 1em;
    max-width: 100%;
    overflow-x: auto;

  }
 */



section:nth-of-type(2) ul {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em; 
  overflow-x: auto; 
  scroll-behavior: smooth; 
  padding-bottom: 1em;
  max-width: 100%;
}


section:nth-of-type(2) li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


section:nth-of-type(2) li img {
min-width: 8em;
  transition: transform 0.3s ease;
}

section:nth-of-type(2) li img:hover {
  transform: scale(1.1); 
}

section:nth-of-type(2) h2{
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  color: #000;
}


section:nth-of-type(2) li h3 {
  font-size: 1em;
  color: #000;
  margin: 0.5em 0 0.3em 0;
  font-weight: var(--h3-weight);
  font-size: var(--h3-size);
  order: 1;
}

section:nth-of-type(2) li p {
  font-size: 0.9em;
  color: #7b7b7b;
  order: 2;
}









/* BANNER STYLEN */

section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff; 
}

section:nth-of-type(3) img {
  width: 100%; 
  max-width: 100%; 
  margin-bottom: 1em; 
}

section:nth-of-type(4) h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  color: #000;
  margin: 0.5em 0;
  text-align: left; 
  /* h2 moet links staan.... werkt niet met text-align??? ook met de p zo */
}

section:nth-of-type(4) p:first-of-type {
  font-size: 1em;
  color: #ccc; 
  margin: 0;
  text-align: center;
}


section:nth-of-type(4) p:nth-of-type(2) {
  font-size: 0.95em;
  color: #000;
  text-align: justify;
  margin: 1em 0;
  line-height: 1.6em;
  max-width: 100%;
}


  /* button start watching s1 e1 */

section:nth-of-type(4) > a {
  display: inline-block;
  text-decoration: none;
  margin-top: 1em;
  /* transition: background-color 0.3s ease; */
  font-size: .8em;


  background-color: #f05032;
  color: #fff;
  border: none;
  padding: 1em 5em;
  cursor: pointer;
  text-transform: uppercase;
}



section:nth-of-type(4) > a:hover {
  background-color: #c93920;
  transition: transform 0.3s ease;
}


/* NEW EPISODE SECTION */


section:nth-of-type(5) {
  padding: 1em;
 
}

section:nth-of-type(5) h2 {
  color: #000;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

section:nth-of-type(5) article {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

section:nth-of-type(5) article img {
  width: 30%; 
  height: auto;
  border-radius: 4px;
  margin-right: 1em;
}

section:nth-of-type(5) article h4 {
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
  color: #000;
}

section:nth-of-type(5) article p {
  font-size: 0.9em;
  color: #ccc;
  margin: 0.2em 0;
}

section:nth-of-type(5) a {
  text-decoration: none;
  color: inherit;
}

section:nth-of-type(5) h3 {
  border-bottom: .1em solid #4f4f4f;
  padding-bottom: 0.5em;
  margin-top: 1em;
}






/* RESPONSIVE MAKEN */





@media (min-width: 700px) {

  /* CAROUSEL STYLING */
  main > section:nth-of-type(1) > ul:nth-of-type(1) {
    flex-direction: row;
    justify-content: flex-start; 
    min-height: 60vh; 

  }

  main > section:nth-of-type(1) nav {
    flex-direction: row;
    justify-content: flex-start; 

  }

  main > section:nth-of-type(1) > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    /* min-width: 100%; */
    padding: 2em;
  }

  main > section:nth-of-type(1) > ul li p {
    font-size: 1.2em;
    
  }

  main > section:nth-of-type(1) > ul li a {
    font-size: 1em;
    padding: 1em 3em;
    margin-top: 1em;
    
  }

  main > section:nth-of-type(1) > ul li{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* start watching button links */
  main > section:nth-of-type(1) > ul li a {
    align-self: self-start;
    
    
  }



    /*  MOST POPULAR */
  section:nth-of-type(2) ul {
    display: flex;
    overflow-x: scroll; 
    gap: 2em; 
  }
  
  section:nth-of-type(2) ul li {
    min-width: 20%; 
  }
  
  section:nth-of-type(2) ul li img {
    width: 100%;
    height: auto;
  }
  
  section:nth-of-type(2) li h3 {
    font-size: 1em;
  }
  
  section:nth-of-type(2) li p {
    font-size: .8em;
  
  }
  
  
  


  /* BANNER STYLING */
  section:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  section:nth-of-type(3) img {
    max-width: 50%; 
    height: auto;
  }

  section:nth-of-type(4)  {
    max-width: 50%; 
    text-align: center; 
  }

  section:nth-of-type(4) h2 {
    font-size: 2em;
    text-align: center;
  }

  section:nth-of-type(4) p {
    font-size: 1.2em;
  }

  section:nth-of-type(4) a {
    margin-top: 1em;
    padding: 1em 3em;
  }


  /* lukt mij niet om de 4e section naast de 3e te krijgen, dus de tekst 
  naast de afbeelding? ik krijg nu alleen beide op de helft van het scherm te zien*/





  /* NEW EPISODES NAAST ELKAAR */
  section:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em; 
  }

  section:nth-of-type(5) article {
    width: 50%; 
  }

  section:nth-of-type(5) article img {
    width: 30%; /* Smaller images */
    height: auto;
  }

  section:nth-of-type(5) h4 {
    font-size: 1.2em;
  }
}





/* eerste section, nav, grote witruimte?? */