/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
    /* background-color: #23252b;
  color: #eee; */

}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text: #111;
    --color-background: #eee;
    --header-menu-color: #23252b;

}


/* Font styling */

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Italic.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Hairline.otf');
    font-weight: 100;
    font-style: normal;
}


header {
    background-color: #23252b;
}

header nav:nth-of-type(1) ul {
    margin: 0;
    padding: 0 1em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav:nth-of-type(1) ul li button img {
    min-width: 2em;
}

header>nav:nth-of-type(2) {
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    padding: 1em;
    align-content: start;
    gap: 1em;

    position: fixed;
    left: 0;
    right: 0;
    top: 4em;
    bottom: 0;
    background-color: var(--header-menu-color);

    translate: -100%;
    transition: .3s ease-in-out;
}

header>nav ul {
    display: grid;
    padding: 0;
    list-style: none;
    padding: 1em;
    align-content: start;
    gap: 1.5em;
}

header nav:nth-of-type(1) ul li:first-of-type {
    margin-right: auto;
}

header nav:nth-of-type(1) ul li:nth-of-type(2) img {
    width: 1.5em;
    transition: transform 0.3s ease;
}

header nav:nth-of-type(1) ul li:nth-of-type(2) img:hover {
    transform: scale(1.2);
}

nav:nth-of-type(1) button {
    border: none;
    background-color: transparent;
}

nav:nth-of-type(2) button {
    background-color: #ff640a;
    border: none;
    color: #eee;
    padding: 1em 2em;
    border-radius: .5em;
    justify-self: start;
    font-weight: 700;
    font-size: .85em;
}

header>nav.toonMenu {
    translate: 0;
}


/* FOOTER */

footer {
    padding: 1em;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

footer > section {
    display: flex;
    align-items: flex-start;
    gap: 2em;
    margin-bottom: 1em;
}

footer h3 {
    flex: 0 0 9em;
    color: #000;
    font-size: 1.2em;
    margin: 0;
    text-align: left;
}

footer ul {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin-bottom: .5em;
}

footer ul li a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: .5em;
}

footer section:nth-of-type(2) ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer section:nth-of-type(2) img {
    height: 1.5em;
    width: 1.5em;
}

footer ul li a:hover {
    color: #ff8000;
    text-decoration: underline;
}

footer section:last-of-type h4 {
    font-weight: bold;
    color: #000;
    margin: 0;
}

footer section:last-of-type p {
    font-size: 0.9em;
    color: #ff8000;
}







/* RESPONSIVE */



@media (min-width: 40em) {

/* HEADER BEIDE NAVS  */

    header nav:nth-of-type(1) button {
        display: none;
    }

    header nav:nth-of-type(1) {
        order: 1;
    }

    header nav:nth-of-type(2) button {
        display: none;
    }

    header nav:nth-of-type(2) {
        background-color: transparent;
        position: inherit;

        translate: 0;
    }

    header nav:nth-of-type(2) ul {
        color: #eee;
        display: flex;
    }

    header nav:nth-of-type(2)>ul:nth-of-type(2) {
        display: flex;
        flex-direction: row;

    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }


    /* FOOTER */

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        position: relative;
    }

    footer section {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0 5em 0;
    }

    footer section:nth-of-type(3) {
        position: absolute;
        bottom: -5em;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    footer section:nth-of-type(3) {
        font-size: .8em;
    }
}